body {
  width: 100%;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
}

li {
  padding: 0.25rem;
}

.urlLink {
  float: right;
  margin-right: 1%;
}

.delButton {
  position: relative;
  padding: 0%;
  margin-right: 2%;
}

.tagList {
  float: right;
  margin-right: 2%;
}

li:nth-child(odd) {
  background: #5a5a5a59;
}

li:nth-child(even) {
  background: #e9e9e979;
}

h3,
p {
  margin: 0;
}

#hidden {
  display: none;
}